.banner{
    margin-left: 6%;
    margin-right: 6%;
}

.mainbox{
    height: 40px;
    width: 100%;
    display: flex;
}
.box1{
  display: flex;
 align-items: center;
 width: 50%;
height: 40px;
}
.box2{
    display: flex;
    height: 100%;
    width: 50%;
   
    align-items:center;
    flex-direction: row-reverse;
}
h4{
    padding-left: 35px;
}


button{
    padding: 8px 26px;
    display: flex;
    margin: 2px;
    align-items: center;
    border-radius: 4px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-weight: 500;
   color: #110e0e;
    border: 2px ;
}


.Images-container{
   
    margin-left: 5%;
    height: 60vh;
    width: 200vh;
    display: flex;
 
}
.big-img{
    width: 50%;
    border: 4px solid #f3eeee;

}
.big-img img{ 
    margin: 0rem 0rem;
    height: 58vh;
    width: 100%;
   
}
.small-img{
 display: flex;
 flex-wrap: wrap;
 border: 4px solid #f3eeee;

}
.small-img img{
    
 width: 48%;
 height: 28vh;
 object-fit: cover;   
 
}

